<div class="otp-authentication-dialog">
  <h3>Enter TOTP</h3>
  <div>
    <form [formGroup]="totpForm" (ngSubmit)="onSubmit()">
        <input formControlName="totpCode" maxlength="6">
        <span *ngIf="totpForm.get('totpCode')?.invalid">
          Please enter a valid 6-digit TOTP code.
        </span>
      
      <p class="authMessage">{{ authMessage }}</p>
      <p class="errorMessage">{{ errorMessage }}</p>
      <div mat-dialog-actions>
        <button  type="button" (click)="onCancel()">Cancel</button>
        <button type="submit">Verify</button>
      </div>
    </form>
  </div>
</div>
